
<div class="col-md-12" style = "margin:25px!important">
    <%= link_to "Listado de Usuarios",  users_path, :class => "btn btn-info color_blanco  pull-left" %>
</div>




<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

        

      <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Roboto);
      @import url(https://fonts.googleapis.com/css?family=Montserrat);
      .panel-heading {
          background-image: none;
          background-color: #ECECEC;
          color: #5bc0de;
          font-family: 'Roboto', sans-serif;
      }

        .panel-title{
          font-size: 30px;   
        }
        .pie_form{
          background-image: none;
          background-color: #ECECEC;
          color: white;   
        }
        .line1
        {
          display: inline-block;
          width: 30% !important;
        }

      </style>






    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>



        <div class="panel-heading">
            <div class="panel-title">  
            <span style = "margin-right:10px;"class="glyphicon glyphicon-user"></span> Crear Usuario
            </div>
        </div>   








    <div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
      <div class="row">
            <%= simple_form_for(@user, :html => { :class => 'contact-form', :id => 'contact-form' }) do |f| %>







                <div class="row">
                  <div class="col-md-4">
                    <label class="label">Primer Nombre</label>
                    <div class="form-group">

                      <%= f.text_field :first_name, class: "form-control ", required: true, placeholder: 'Primer Nombre' %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="label">Segundo Nombre</label>
                    <div class="form-group">
                      <%= f.text_field :second_name, class: "form-control ", required: true, placeholder: 'Segundo Nombre' %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="label">Tipo Documento</label>
                    <div class="form-group">
                      <%= f.input :type_document,
                              prompt:       'Seleccionar un Documento',
                              collection: @user.select_document.sort,
                              error: false, label: false, 
                              input_html:   {class: 'form-control '},required: true  %>
                    </div>
                  </div>
                                  
                </div>








                <div class="row">

<div class="col-md-4">
                    <label class="label">Documento</label>
                    <div class="form-group">
                        <%= f.text_field :document, class: "form-control ", required: true, placeholder: 'Documento',  id: 'document'  %>
                    </div>
                  </div>  

                  <div class="col-md-4">
                    <label class="label">Registro Medico</label>
                    <div class="form-group">

                      <%= f.text_field :medical_record, class: 'ng-binding form-control', required: true, placeholder: 'Registro Medico' %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="label">Email</label>
                    <div class="form-group">
                      <%= f.text_field :email, class: 'form-control', required: true, placeholder: 'Email' %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="label">Rol</label>
                    <div class="form-group">
                      <%= f.collection_select :rol_id, Rol.all, :id, :name, {prompt: "Campo Obligatorio"}, {class: "form-control"} %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="label">Primer Apellido</label>
                    <div class="form-group">
                        <%= f.text_field :document, class: "form-control ", required: true, placeholder: 'Documento',  id: 'document'  %>
                    </div>
                  </div> 

                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="form-group">
                      <label class="control-label">Cargar Imagen:</label>
                      <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div>
                          <span class="btn btn-default btn-file"><span class="fileinput-new"><%= f.file_field :picture, class: "form-control", id: 'button' %></span><span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
                          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                        </div>
                      </div>
                      
                    </div>
                  </div>

                </div>



                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <%= f.hidden_field :password, class: 'form-control', id: 'password1', placeholder: 'Contraseña', :autocomplete => :off  %>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <%= f.hidden_field :password_confirmation, class: 'form-control', id: 'password2', placeholder: 'Confirma tu Contraseña', :autocomplete => :off  %>
                    </div>
                  </div>
                </div>


                <div class="row  well pie_form">
                  <div class="form-actions ">
                    <div class="col-md-5">
                      <%= link_to "Usuarios",  users_path, :class => "btn btn-success color_blanco" %>
                    </div>
                    <div class="col-md-5 col-md-push-4">
                      <button type="reset" class="btn btn-default ">Borrar</button>
                      <%= f.submit "Guardar", :class => 'btn btn-success' %>
                    </div>
                  </div>
                </div>
            <% end %>


        </div>

      </div>






          
       
       

        </fieldset>
    </div>
  </div>
</div>



   



<script type="text/javascript">
  $("#document").keyup(function(){
    $("#password1").val(this.value);
    $("#password2").val(this.value);
    $("#document").val(this.value);
});
</script>




                    