




 <div class="col-md-12" style = "margin:25px!important">

                <%= link_to "Listado de Pacientes",  root_path, :class => "btn btn-info color_blanco  pull-left" %>
</div>




<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

        

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.panel-heading {
    background-image: none;
    background-color: #ECECEC;
    color: #5bc0de;
    font-family: 'Roboto', sans-serif;
}

  .panel-title{
    font-size: 30px;   
  }
  .pie_form{
    background-image: none;
    background-color: #ECECEC;
    color: white;   
  }
  .line1
  {
    display: inline-block;
    width: 30% !important;
  }

</style>






<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>



<div class="panel-heading">
    <div class="panel-title">  <span style = "margin-right:10px;"class="glyphicon glyphicon-user"></span> Paso 3</div>
</div>   



<div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
  <div class="row">
<%= simple_form_for([@patient, @clinic_history], method: :put, url: wizard_path, :html => { :class => 'block multistep pf_form w_normal horizontal_center shadow', :id => "checkout" }) do |f| %>

<br/>



















<!-- Start Checkbox -->
      
  


<style type="text/css">

/*Radio and Checkbox START*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
/*Radio and Checkbox END*/
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('.filterable .btn-filter').click(function(){
        var $panel = $(this).parents('.filterable'),
        $filters = $panel.find('.filters input'),
        $tbody = $panel.find('.table tbody');
        if ($filters.prop('disabled') == true) {
            $filters.prop('disabled', false);
            $filters.first().focus();
        } else {
            $filters.val('').prop('disabled', true);
            $tbody.find('.no-result').remove();
            $tbody.find('tr').show();
        }
    });

    $('.filterable .filters input').keyup(function(e){
        /* Ignore tab key */
        var code = e.keyCode || e.which;
        if (code == '9') return;
        /* Useful DOM data and selectors */
        var $input = $(this),
        inputContent = $input.val().toLowerCase(),
        $panel = $input.parents('.filterable'),
        column = $panel.find('.filters th').index($input.parents('th')),
        $table = $panel.find('.table'),
        $rows = $table.find('tbody tr');
        /* Dirtiest filter function ever ;) */
        var $filteredRows = $rows.filter(function(){
            var value = $(this).find('td').eq(column).text().toLowerCase();
            return value.indexOf(inputContent) === -1;
        });
        /* Clean previous no-result if exist */
        $table.find('tbody .no-result').remove();
        /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
        $rows.show();
        $filteredRows.hide();
        /* Prepend no-result row if all rows are filtered */
        if ($filteredRows.length === $rows.length) {
            $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
        }
    });
});
</script>

<!-- End Checkbox -->



<script type="text/javascript">


  $(function () {
        $(".allchk2").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport13").show();
                $("#dvPassport14").show();
                $("#dvPassport15").show();
                $("#dvPassport16").show();
                $("#dvPassport17").show();
                $("#dvPassport18").show();
                $("#dvPassport19").show();
                $("#dvPassport20").show();
                $("#dvPassport21").show();
                $("#dvPassport22").show();
            } else {
                $("#dvPassport13").hide();
                $("#dvPassport14").hide();
                $("#dvPassport15").hide();
                $("#dvPassport16").hide();
                $("#dvPassport17").hide();
                $("#dvPassport18").hide();
                $("#dvPassport19").hide();
                $("#dvPassport20").hide();
                $("#dvPassport21").hide();
                $("#dvPassport22").hide();

            }
        });
    });



</script>




   

              <div class="row">

                      <div class="col-xs-3 col-sm-6 col-md-2">

                        <label class="label">    

                        Seleccionar todos</label>

                        <div class="checkbox radio-margin">
                        <label>
                          <input type="checkbox" id="selecctall2" class="fs1 allchk2" />
                          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        </label>
                      </div>
                    </div>

              </div>




              <div class="row">



              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Cardiovascular</label>

                  <div class="checkbox radio-margin">
                  <label>
                      <%= f.check_box :cardiovascular, class: 'form-control fs1 chkPassport13 checkbox2', :name => "approve[]", 'data-required' => true %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>



                <div class="col-xs-3 col-sm-6 col-md-2">
                  <div class="form-group" id="dvPassport13" style="display: none">
                    <label class="label ">Ampliar Información</label>

                    <%= f.text_area :cardiovascular_description, class: 'form-control' %>
                  </div>
                </div>




              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Respiratorio</label>
                  <div class="checkbox radio-margin">
                  <label>
                    <%= f.check_box :respiratory, class: 'form-control fs1 chkPassport14 checkbox2', :name => "approve[]" %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>

                <div class="col-xs-3 col-sm-6 col-md-2">
                <div class="form-group" id="dvPassport14" style="display: none">
                  <label class="label">Ampliar Información</label>
                  <%= f.text_area :respiratory_description , class: 'form-control' %>
                  </div>
                </div>            

   

              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Abdominal</label>
                  <div class="checkbox radio-margin">
                  <label>
                  <%= f.check_box :abdominal, class: 'form-control fs1 chkPassport15 checkbox2', :name => "approve[]" %>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>

                  <div class="col-xs-3 col-sm-6 col-md-2">
                  <div class="form-group" id="dvPassport15"  style="display: none">
                  <label class="label">Ampliar Información</label>
                    <%= f.text_area :abdominal_description, class: 'form-control'  %>
                  </div>
                </div> 

         </div>



          <div class="row">



              <div class="col-xs-3 col-sm-6 col-md-2">

                  <label class="label"> Genito urinario </label>
                  <div class="checkbox radio-margin">
                  <label>
                  <%= f.check_box :genito_urinario, class: 'form-control fs1  chkPassport16 checkbox2', :name => "approve[]" %>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
                </div>

                <div class="col-xs-3 col-sm-6 col-md-2">
                  <div class="form-group" id="dvPassport16"  style="display: none">
                  <label class="label">Ampliar Información</label>
                <%= f.text_area :genito_urinario_description, class: 'form-control '  %>
                  </div>
                </div>            
         


              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Neurologico</label>
                  <div class="checkbox radio-margin">
                  <label>
                  <%= f.check_box :neurological, class: 'form-control fs1 chkPassport17 checkbox2', :name => "approve[]" %>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>

                <div class="col-xs-3 col-sm-6 col-md-2">
                  <div class="form-group" id="dvPassport17"  style="display: none">
                  <label class="label">Ampliar Información</label>
                <%= f.text_area :neurological_description, class: 'form-control'  %>
                  </div>
                </div>


              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Tóxicos</label>
                  <div class="checkbox radio-margin">
                  <label>
                  <%= f.check_box :mental, class: 'form-control fs1 chkPassport18 checkbox2', :name => "approve[]" %>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>

                <div class="col-xs-3 col-sm-6 col-md-2">
                  <div class="form-group" id="dvPassport18"  style="display: none">
                  <label class="label">Ampliar Información</label>
                <%= f.text_area :mental_description, class: 'form-control'  %>
                  </div>
                </div>            
         

          </div>




          <div class="row">
              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Organo de los sentidos </label>
                  <div class="checkbox radio-margin">
                  <label>
                  <%= f.check_box :sense_organ, class: 'form-control fs1 chkPassport19 checkbox2', :name => "approve[]" %>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
                </div>

                <div class="col-xs-3 col-sm-6 col-md-2">
              <div class="form-group" id="dvPassport19" style="display:none">
                  <label class="label">Ampliar Información</label>
                <%= f.text_area :sense_organ_description, class: 'form-control'  %>
                  </div>
                </div>            

              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Musculo-esqueletico</label>
                  <div class="checkbox radio-margin">
                  <label>
                  <%= f.check_box :skeletal_muscle, class: 'form-control fs1 chkPassport21 checkbox2', :name => "approve[]" %>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>

                <div class="col-xs-3 col-sm-6 col-md-2">
              <div class="form-group" id="dvPassport21" style="display:none">
                  <label class="label">Ampliar Información</label>
                <%= f.text_area :skeletal_muscle_description, class: 'form-control' %>
                  </div>
                </div>

              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label"> Piel y faneras</label>
                  <div class="checkbox radio-margin">
                  <label>
                  <%= f.check_box :skin_and_appendages, class: 'form-control fs1 chkPassport22 checkbox2', :name => "approve[]" %>
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>

                <div class="col-xs-3 col-sm-6 col-md-2">
              <div class="form-group" id="dvPassport22" style="display:none">
                  <label class="label">Ampliar Información</label>
                <%= f.text_area :skin_and_appendages_description, class: 'form-control' %>
                  </div>
                </div>            
         

          </div>











<br/>
<br/>





            <div class="row  well pie_form">



        <div class="form-actions ">
              

              <div class="col-md-5 col-md-push-1">


                  <%= link_to "Regresar al Paso 2", patient_clinic_history_steps_path(@patient, @clinic_history, ClinicHistory.form_steps.second), :class=>"btn btn-success color_blanco" %>


              </div>


              <div class="col-md-5 col-md-push-2">

                <button type="reset" class="btn btn-default ">Borrar</button>

          <button type="submit" class="btn btn-success">Siguiente Paso</button>

              </div>


        </div>


  </div>
</div>
            <% end %>




</div>



<script type="text/javascript">
    $(function () {
        $(".chkPassport").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport").show();
            } else {
                $("#dvPassport").hide();
            }
        });
    });


    $(function () {
        $(".chkPassport2").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport2").show();
            } else {
                $("#dvPassport2").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport3").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport3").show();
            } else {
                $("#dvPassport3").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport4").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport4").show();
            } else {
                $("#dvPassport4").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport5").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport5").show();
            } else {
                $("#dvPassport5").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport6").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport6").show();
            } else {
                $("#dvPassport6").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport7").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport7").show();
            } else {
                $("#dvPassport7").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport8").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport8").show();
            } else {
                $("#dvPassport8").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport9").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport9").show();
            } else {
                $("#dvPassport9").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport10").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport10").show();
            } else {
                $("#dvPassport10").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport11").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport11").show();
            } else {
                $("#dvPassport11").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport12").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport12").show();
            } else {
                $("#dvPassport12").hide();
            }
        });
    });




    $(function () {
        $(".Embarazo").click(function () {
            if ($(this).is(":checked")) {
                $("#MostrarEmbarazo").show();
                $("#MostrarEmbarazo2").show();
                $("#MostrarEmbarazo3").show();
                $("#MostrarEmbarazo4").show();
                $("#MostrarEmbarazo5").show();
                $("#MostrarEmbarazo6").show();
                $("#MostrarEmbarazo7").show();
                $("#MostrarEmbarazo8").show();
            } else {
                $("#MostrarEmbarazo").hide();
                $("#MostrarEmbarazo2").hide();
                $("#MostrarEmbarazo3").hide();
                $("#MostrarEmbarazo4").hide();
                $("#MostrarEmbarazo5").hide();
                $("#MostrarEmbarazo6").hide();
                $("#MostrarEmbarazo7").hide();
                $("#MostrarEmbarazo8").hide();
            }
        });
    });



</script>