




 <div class="col-md-12" style = "margin:25px!important">

                <%= link_to "Listado de Pacientes",  root_path, :class => "btn btn-info color_blanco  pull-left" %>
</div>




<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

<div class="container-fluid">    
        
    <div id="loginbox" class="mainbox col-md-12 col-sm-12"> 
        

        

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.panel-heading {
    background-image: none;
    background-color: #ECECEC;
    color: #5bc0de;
    font-family: 'Roboto', sans-serif;
}

  .panel-title{
    font-size: 30px;   
  }
  .pie_form{
    background-image: none;
    background-color: #ECECEC;
    color: white;   
  }
  .line1
  {
    display: inline-block;
    width: 30% !important;
  }

</style>






<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>



<div class="panel-heading">
    <div class="panel-title">  <span style = "margin-right:10px;"class="glyphicon glyphicon-user"></span> Paso 4</div>
</div>   



<div class="container-fluid navbar navbar-default" style = "margin-bottom:0px!importan">
  <div class="row">
<%= simple_form_for([@patient, @clinic_history], method: :put, url: wizard_path, :html => { :class => 'block multistep pf_form w_normal horizontal_center shadow', :id => "checkout" }) do |f| %>

<br/>















<!-- Start Checkbox -->
      
  


<style type="text/css">

/*Radio and Checkbox START*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
/*Radio and Checkbox END*/
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('.filterable .btn-filter').click(function(){
        var $panel = $(this).parents('.filterable'),
        $filters = $panel.find('.filters input'),
        $tbody = $panel.find('.table tbody');
        if ($filters.prop('disabled') == true) {
            $filters.prop('disabled', false);
            $filters.first().focus();
        } else {
            $filters.val('').prop('disabled', true);
            $tbody.find('.no-result').remove();
            $tbody.find('tr').show();
        }
    });

    $('.filterable .filters input').keyup(function(e){
        /* Ignore tab key */
        var code = e.keyCode || e.which;
        if (code == '9') return;
        /* Useful DOM data and selectors */
        var $input = $(this),
        inputContent = $input.val().toLowerCase(),
        $panel = $input.parents('.filterable'),
        column = $panel.find('.filters th').index($input.parents('th')),
        $table = $panel.find('.table'),
        $rows = $table.find('tbody tr');
        /* Dirtiest filter function ever ;) */
        var $filteredRows = $rows.filter(function(){
            var value = $(this).find('td').eq(column).text().toLowerCase();
            return value.indexOf(inputContent) === -1;
        });
        /* Clean previous no-result if exist */
        $table.find('tbody .no-result').remove();
        /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
        $rows.show();
        $filteredRows.hide();
        /* Prepend no-result row if all rows are filtered */
        if ($filteredRows.length === $rows.length) {
            $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
        }
    });
});
</script>

<!-- End Checkbox -->





              <div class="row">



              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">TA mm/HG </label>
                  <label>
                      <%= f.input :ta_mmgh, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div>

              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Frecuencía Cardiaca </label>
                  <label>
                      <%= f.input :heart_rate, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div>


              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Frecuencía Respiratoria </label>
                  <label>
                      <%= f.input :breathing_frequency, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div> 



              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">% SAT. de 02 Ambiente </label>
                  <label>
                      <%= f.input :sat_of_o_supplementary, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div> 







         </div>

<br/>





              <div class="row">




              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">% SAT. de O2 Suplement </label>
                  <label>
                      <%= f.input :sat_of_o_supplementary, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div>

              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Temperatura</label>
                  <label>
                      <%= f.input :temperature, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div>




              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Peso en Kilogramos  </label>
                  <label>
                      <%= f.input :weight_in_kilograms, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div> 



              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Talla en Centimetros  </label>
                  <label>
                      <%= f.input :height_in_centimeters, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div> 



         </div>



<br/>













              <div class="row">










              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Cabeza</label>

                  <div class="checkbox radio-margin">
                  <label>
                      <%= f.check_box :head, class: 'form-control fs1 chkPassport23 checkbox2', :name => "approve[]", 'data-required' => true %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>



                <div class="col-xs-3 col-sm-6 col-md-2">
                  <div class="form-group" id="dvPassport23" style="display: none">
                    <label class="label ">Ampliar Info</label>

                    <%= f.text_area :head_description, class: 'form-control' %>
                                  </div>
                                </div>










              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Cuello</label>

                  <div class="checkbox radio-margin">
                  <label>
      <%= f.check_box :neck, class: 'form-control fs1 chkPassport24', :name => "approve[]" %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>



                <div class="col-xs-3 col-sm-6 col-md-2">
                  <div class="form-group" id="dvPassport24" style="display: none">
                    <label class="label ">Ampliar Info</label>

    <%= f.text_area :neck_description, class: 'form-control' %>
                                  </div>
                                </div>






              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Corazón</label>

                  <div class="checkbox radio-margin">
                  <label>
                    <%= f.check_box :heart, class: 'form-control fs1 chkPassport26', :name => "approve[]" %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>

              <div class="col-xs-3 col-sm-6 col-md-2">
                <div class="form-group" id="dvPassport26" style="display: none">
                  <label class="label ">Ampliar Info</label>

                  <%= f.text_area :heart_description, class: 'form-control' %>
                </div>
              </div>


</div>



        <div class="row">



             <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">Pulmones</label>
                  <div class="checkbox radio-margin">
                  <label>
                    <%= f.check_box :lungs, class: 'form-control fs1 chkPassport27', :name => "approve[]" %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>


              <div class="col-xs-3 col-sm-6 col-md-2">
                <div class="form-group" id="dvPassport27" style="display: none">
                  <label class="label ">Ampliar Info</label>
                    <%= f.text_area :lungs_description, class: 'form-control' %>
                </div>
              </div>



              <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">abdomen</label>

                  <div class="checkbox radio-margin">
                  <label>
                    <%= f.check_box :abdomen, class: 'form-control fs1 chkPassport28', :name => "approve[]" %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>

              <div class="col-xs-3 col-sm-6 col-md-2">
                <div class="form-group" id="dvPassport28" style="display: none">
                  <label class="label ">Ampliar Info</label>

                  <%= f.text_area :abdomen_description, class: 'form-control' %>
                </div>
              </div>


             <div class="col-xs-3 col-sm-6 col-md-2">
                  <label class="label">genitourinary</label>
                  <div class="checkbox radio-margin">
                  <label>
                    <%= f.check_box :genitourinary, class: 'form-control fs1 chkPassport29', :name => "approve[]" %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>


              <div class="col-xs-3 col-sm-6 col-md-2">
                <div class="form-group" id="dvPassport29" style="display: none">
                  <label class="label ">Ampliar Info</label>
                    <%= f.text_area :genitourinary_description, class: 'form-control' %>
                </div>
              </div>



              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">recto</label>

                  <div class="checkbox radio-margin">
                  <label>
                    <%= f.check_box :rectum, class: 'form-control fs1 chkPassport30', :name => "approve[]" %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>

              <div class="col-xs-3 col-sm-6 col-md-3">
                <div class="form-group" id="dvPassport30" style="display: none">
                  <label class="label ">Ampliar Info</label>

                  <%= f.text_area :rectum_description, class: 'form-control' %>
                </div>
              </div>


             <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">genitourinary</label>
                  <div class="checkbox radio-margin">
                  <label>
                    <%= f.check_box :extremities, class: 'form-control fs1 chkPassport32', :name => "approve[]" %>

                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
              </div>


              <div class="col-xs-3 col-sm-6 col-md-3">
                <div class="form-group" id="dvPassport32" style="display: none">
                  <label class="label ">Ampliar Info</label>
                    <%= f.text_area :extremities_description, class: 'form-control' %>
                </div>
              </div>

         </div>











              <div class="row">



              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Alteración </label>
                  <label>
                      <%= f.input :alteration, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div>

              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">ojo abierto</label>
                  <label>
                      <%= f.input :eye_opening, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div>


              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Respuesta Verbal</label>
                  <label>
                      <%= f.input :verbal_answer, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div> 



              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Respuesta Motora </label>
                  <label>
                      <%= f.input :motor_response, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div> 



         </div>








              <div class="row">

            <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Glucometria</label>
                  <label>
                      <%= f.input :glucose, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div>

              <div class="col-xs-3 col-sm-6 col-md-3">
                  <label class="label">Otros Signos </label>
                  <label>
                      <%= f.input :other_signs, :input_html => { :class => 'form-control fs1' }, label: false %>

                  </label>
              </div>

              


         </div>











<br/>
<br/>





            <div class="row  well pie_form">



        <div class="form-actions ">
              



              <div class="col-md-5 col-md-push-1">


                  <%= link_to "Regresar al Paso 3", patient_clinic_history_steps_path(@patient, @clinic_history, ClinicHistory.form_steps.third), :class=>"btn btn-success color_blanco" %>


              </div>


              <div class="col-md-5  col-md-push-2">

                <button type="reset" class="btn btn-default ">Borrar</button>

          <button type="submit" class="btn btn-success">Siguiente Paso</button>

              </div>


        </div>


  </div>











</div>
            <% end %>




</div>



<script type="text/javascript">
    $(function () {
        $(".chkPassport").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport").show();
            } else {
                $("#dvPassport").hide();
            }
        });
    });


    $(function () {
        $(".chkPassport2").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport2").show();
            } else {
                $("#dvPassport2").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport3").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport3").show();
            } else {
                $("#dvPassport3").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport4").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport4").show();
            } else {
                $("#dvPassport4").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport5").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport5").show();
            } else {
                $("#dvPassport5").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport6").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport6").show();
            } else {
                $("#dvPassport6").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport7").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport7").show();
            } else {
                $("#dvPassport7").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport8").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport8").show();
            } else {
                $("#dvPassport8").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport9").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport9").show();
            } else {
                $("#dvPassport9").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport10").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport10").show();
            } else {
                $("#dvPassport10").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport11").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport11").show();
            } else {
                $("#dvPassport11").hide();
            }
        });
    });
    $(function () {
        $(".chkPassport12").click(function () {
            if ($(this).is(":checked")) {
                $("#dvPassport12").show();
            } else {
                $("#dvPassport12").hide();
            }
        });
    });




    $(function () {
        $(".Embarazo").click(function () {
            if ($(this).is(":checked")) {
                $("#MostrarEmbarazo").show();
                $("#MostrarEmbarazo2").show();
                $("#MostrarEmbarazo3").show();
                $("#MostrarEmbarazo4").show();
                $("#MostrarEmbarazo5").show();
                $("#MostrarEmbarazo6").show();
                $("#MostrarEmbarazo7").show();
                $("#MostrarEmbarazo8").show();
            } else {
                $("#MostrarEmbarazo").hide();
                $("#MostrarEmbarazo2").hide();
                $("#MostrarEmbarazo3").hide();
                $("#MostrarEmbarazo4").hide();
                $("#MostrarEmbarazo5").hide();
                $("#MostrarEmbarazo6").hide();
                $("#MostrarEmbarazo7").hide();
                $("#MostrarEmbarazo8").hide();
            }
        });
    });



</script>